main {
	min-height: 60lvh;
	overflow: hidden;
}

p.centered {
	text-align: center;
}

p.admonition-title {
	font-weight: bold;
}

h1 {
	word-break: break-word;
}

/* Headerlinks */

h1 > a.headerlink, h2 > a.headerlink,
h3 > a.headerlink, h4 > a.headerlink {
	visibility: hidden;
	color: #611232;
	font-size: 0.5em;
	margin: 1rem;
}

h1:hover > .headerlink, h2:hover > .headerlink,
h3:hover > .headerlink, h4:hover > .headerlink {
	visibility: visible;
}

/* Table of contents */

.gobmx-docs-sidenav {
	margin-top: 64px;
	max-width: 260px;
	text-align: right;
	border: 1px solid #eeeeee;
}

.docs-nav-logo {
	padding: 20px 0;
	text-align: center;
}

.gobmx-docs-sidenav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gobmx-docs-sidenav > ul > li > ul ul {
	font-size: 1.5rem;
}

.gobmx-docs-sidenav > ul > li {
	border-top: 1px solid #eeeeee;
}

.gobmx-docs-sidenav > ul a {
	color: #263131;
	display: block;
	padding: 18px 30px;
	position: relative;
	text-decoration: none;
}

.gobmx-docs-sidenav > ul a:hover {
	background: #f6f6f6;
	text-decoration: none;
}

/* Toctree */

.toctree-wrapper > ul {
	display: grid;
	grid-gap: 1rem;
	padding: 0;
	grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));

}

.toctree-wrapper > ul > li {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1rem;

	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.toctree-wrapper ul {
	list-style-type: none;
	padding: 0;
}

.toctree-wrapper > ul > li > a {
	font-weight: 900;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Patria, "noto Sans", Helvetica, Arial, sans-serif;
	color: unset;
}

.toctree-wrapper > ul ul a {
	color: #706f6f;
	text-decoration: none;
	font-size: 1.5rem;
}

/* Footer */

.container-fluid.footer-pleca {
	background-repeat: repeat-x;
	background-size: auto 100%;
	object-fit: cover;
	height: 4em;
}

/* Print */

@media print {
	ul.pagination,
	.print,
	.gobmx-docs-sidenav,
	footer.main-footer {
		display: none;
	}
}
